body {
  margin: auto;
}
.init {
  /* background-color: #251d27; */
  height: 100vh;
  padding: 20px;
}
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px;*/
}

.logo {
  width: 220px;
}
.logo img {
  width: 100%;
  max-width: 276px;
}

.navbar-menu {
  display: none;
}

.navbar-button {
  display: none;
}
@media screen and (min-width: 1100px) {
  .burger {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-menu {
    display: flex;
  }
  .navbar-menu div {
    padding: 0 20px;
    color: #bfb9bf;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  .navbar-menu a {
    color: #bfb9bf;
    text-decoration: none;
  }
  .navbar-button {
    display: block;
  }
  .navbar-button a {
    text-decoration: none;
    color: #272727;
  }
  .navbar-button button {
    width: 140px;
    height: 40px;
    cursor: pointer;
    background-color: #fccf08;
    border: none;
    color: #251d27;
  }
  .welcome h1 {
    font-size: 110px;
  }
  .welcome p {
    font-size: 18px;
  }
  .welcome img {
    max-width: 500px;
  }
  .line {
    width: 550px;
    margin-left: 30px;
  }
}

.services {
  padding: 20px;
}

.services h1 {
  font-family: 'Lato';
  font-size: 40px;
  padding: 20px 0;
}
.service-card {
  padding: 30px 0;
}
.service-card h3 {
  font-size: 25px;
  color: #251d27;
  font-weight: bold;
  font-family: 'Lato';
}

.service-card p {
  color: #908d90;
  font-size: 15px;
  font-family: 'Roboto';
  line-height: 25px;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .services {
    height: 100vh;
  }
  .services h1 {
    text-align: center;
    padding-bottom: 40px;
  }

  .services-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
  }
  .service-card {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1100px) {
  .services h1 {
    font-size: 80px;
    line-height: 0;
  }
  .service-card h3 {
    font-size: 40px;
  }
  .service-card p {
    font-size: 18px;
    max-width: 450px;
  }
}
.contact {
  padding: 20px;
}
.contact h1 {
  font-family: 'Lato';
  font-size: 40px;
  color: #251d27;
}
.contact p {
  font-size: 15px;
  font-family: 'Roboto';
  color: #908d90;
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact-form label {
  font-family: 'Roboto';
  font-size: 15px;
}
.contact-form button {
  font-family: 'Roboto';
  font-size: 15px;
  height: 35px;
  background-color: #251d27;
  color: white;
  font-weight: 300;
  cursor: pointer;
}
.contact-form input {
  height: 30px;
  margin: 10px 0;
  border: 1px solid #251d27;
}
.contact-form textarea {
  margin: 10px 0;
  border: 1px solid #251d27;
}
.social {
  display: flex;
  flex-direction: column;
}
.social ul {
  list-style: none;
  padding: 0;
  font-family: 'Roboto';
  font-size: 15px;
  margin: 0;
}
.social-list {
  display: flex;
  align-items: center;
}
.social ul li {
  margin: 10px 0;
}
.social-list img {
  margin-right: 10px;
}
.social h3 {
  font-family: 'Lato';
  color: #251d27;
  font-size: 25px;
}

footer {
  background-color: #251d27;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 20px;
}
footer p {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 100%;
  }
  .contact h1 {
    text-align: center;
  }
  .contact p {
    text-align: center;
  }
  .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact-form input {
    width: 384px;
  }
}
@media screen and (min-width: 1100px) {
  .contact h1 {
    font-size: 80px;
  }
  .contact p {
    font-size: 18px;
  }
}