/*
color fondo #251D27
amarillo #FCCF08
color parrafos #BFB9BF
gris #908D90
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  margin: 0;
}

.init {
  background-color: #251d27;
  height: 100vh;
  padding: 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px;*/
}

.logo {
  width: 220px;
}
.logo img {
  width: 100%;
  max-width: 276px;
}

.navbar-menu {
  display: none;
}

.navbar-button {
  display: none;
}

.welcome {
  /*
   padding: 0 20px 40px 20px;
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: calc(100% - 40px);*/
  height: 85vh;
  padding: 0 10px;
}

.welcome h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
}

@media screen and (min-width: 400px) {
  .welcome h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 550px) {
  .welcome h1 {
    font-size: 70px;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    width: 100%;
  }
  .welcome-container {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome h1 {
    font-size: 80px;
    line-height: 20px;
  }
  .welcome img {
    max-width: 304px;
  }
  .welcome-content {
    display: flex;
    align-items: center;
  }
  .welcome-header {
    width: 100%;
    justify-content: center;
  }
  .welcome-header h1 {
    width: 100%;
    max-width: 350px;
  }
  .welcome-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20px;
    height: 100%;
  }
  .welcome p {
    width: 400px;
  }
}

.welcome-header {
  display: flex;
  align-items: center;
}

.line {
  display: none;
}
@media screen and (min-width: 768px) {
  .line {
    display: block;
    border: 1px solid #fccf08;
    width: 400px;
    /*max-width: 350px;*/
    height: 0;
    margin: 0 20px;
    margin-top: 30px;
  }
}

.welcome p {
  color: #bfb9bf;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.welcome img {
  width: 100%;
  /* max-width: 532px;*/
}

.welcome button {
  width: 143px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .burger {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-menu {
    display: flex;
  }
  .navbar-menu div {
    padding: 0 20px;
    color: #bfb9bf;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  .navbar-menu a {
    color: #bfb9bf;
    text-decoration: none;
  }
  .navbar-button {
    display: block;
  }
  .navbar-button a {
    text-decoration: none;
    color: #272727;
  }
  .navbar-button button {
    width: 140px;
    height: 40px;
    cursor: pointer;
    background-color: #fccf08;
    border: none;
    color: #251d27;
  }
  .welcome h1 {
    font-size: 110px;
  }
  .welcome p {
    font-size: 18px;
  }
  .welcome img {
    max-width: 500px;
  }
  .line {
    width: 550px;
    margin-left: 30px;
  }
}

.services {
  padding: 20px;
}

.services h1 {
  font-family: 'Lato';
  font-size: 40px;
  padding: 20px 0;
}
.service-card {
  padding: 30px 0;
}
.service-card h3 {
  font-size: 25px;
  color: #251d27;
  font-weight: bold;
  font-family: 'Lato';
}

.service-card p {
  color: #908d90;
  font-size: 15px;
  font-family: 'Roboto';
  line-height: 25px;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .services {
    height: 100vh;
  }
  .services h1 {
    text-align: center;
    padding-bottom: 40px;
  }

  .services-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
  }
  .service-card {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1100px) {
  .services h1 {
    font-size: 80px;
    line-height: 0;
  }
  .service-card h3 {
    font-size: 40px;
  }
  .service-card p {
    font-size: 18px;
    max-width: 450px;
  }
}

.team {
  padding: 20px;
  background-color: #251d27;
}
.team p {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 25px;
}
.team h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 40px;
  color: white;
  padding: 30px 0 10px 0;
}

.team-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.team-cards img {
  width: 100%;
}
.team-cards h4 {
  text-align: center;
  font-family: 'Lato';
  color: white;
  font-size: 25px;
}
/* .team-cards p {
  text-align: center;
} */
.team-card {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .team {
    height: 100vh;
  }

  .team-cards {
    flex-direction: row;
  }
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .team-card img {
    max-width: 270px;
  }
  .team-card p {
    max-width: 500px;
  }
  .para {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .para p {
    width: 400px;
  }
}
@media screen and (min-width: 1100px) {
  .team h1 {
    font-size: 80px;
    line-height: 0;
  }
  .team-card {
    padding-top: 40px;
  }
}
.contact {
  padding: 20px;
}
.contact h1 {
  font-family: 'Lato';
  font-size: 40px;
  color: #251d27;
}
.contact p {
  font-size: 15px;
  font-family: 'Roboto';
  color: #908d90;
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact-form label {
  font-family: 'Roboto';
  font-size: 15px;
}
.contact-form button {
  font-family: 'Roboto';
  font-size: 15px;
  height: 35px;
  background-color: #251d27;
  color: white;
  font-weight: 300;
  cursor: pointer;
}
.contact-form input {
  height: 30px;
  margin: 10px 0;
  border: 1px solid #251d27;
}
.contact-form textarea {
  margin: 10px 0;
  border: 1px solid #251d27;
}
.social {
  display: flex;
  flex-direction: column;
}
.social ul {
  list-style: none;
  padding: 0;
  font-family: 'Roboto';
  font-size: 15px;
  margin: 0;
}
.social-list {
  display: flex;
  align-items: center;
}
.social ul li {
  margin: 10px 0;
}
.social-list img {
  margin-right: 10px;
}
.social h3 {
  font-family: 'Lato';
  color: #251d27;
  font-size: 25px;
}

footer {
  background-color: #251d27;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 20px;
}
footer p {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 100%;
  }
  .contact h1 {
    text-align: center;
  }
  .contact p {
    text-align: center;
  }
  .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact-form input {
    width: 384px;
  }
}
@media screen and (min-width: 1100px) {
  .contact h1 {
    font-size: 80px;
  }
  .contact p {
    font-size: 18px;
  }
}
